body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Hide default cursor */
* {
  cursor: none !important;
}

/* Show default cursor for touch devices */
@media (hover: none) {
  * {
    cursor: auto !important;
  }
}

/* Add the Harry P font */
@font-face {
  font-family: 'Harry P';
  src: url('./assets/fonts/HARRYP__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
